.App {
  text-align: left;
}

div.globe {
  width: 50vh;
  height: 50vh;
  padding: 1em;
}


div.selection-form{
  padding: 1em;
}

/*Here is an example on animations*/
@media (prefers-reduced-motion: no-preference) {
  .dontuse {
    animation: custom-spin infinite 20s linear;
  }
}

@keyframes custom-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
