.App {
  text-align: left;
}

div.country-plotly{
  height: 30vh;
  width: 100%;
  position: absolute;
}

div.globe {
  width: 100vh - 2em;
  height: 90vh;
}

div.selection-form{
  padding: 1em;
}

/*Here is an example on animations*/
@media (prefers-reduced-motion: no-preference) {
  .dontuse {
    animation: custom-spin infinite 20s linear;
  }
}

@keyframes custom-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
