.about {
    margin: 0;
    background-color: #2b2b2b;
}

.about .title {
    padding: 100px;
    padding-right: 0;
    padding-left: 10vw;
    padding-bottom: 0;
    text-align: left;
    display: flex;
}

.about .title h1 {
    font-size: 5vw;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding-left: 30px;
    margin: 0;
}

.about .title h2 {
    padding-left: 30px;
    margin: 0;
    font-weight: 400;
    font-size: 2vw;
    color: white;
}

.about .about-section {
    padding: 100px;
    padding-bottom: 0;
    padding-left: 10vw;
    width: 90vw;
    max-width: 1000px;
    text-align: left;
    color: white;
    font-size: large;
}

.about .about-section .subtitle {
    box-sizing: content-box;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #51ae9aff;
    color:white;
    font-size: 2vw;
    position: relative;
    display: inline-block;
    height: auto;
    border-radius: 10px;
    margin-top: 50px;
}

.about .footer {
    margin-left: 10vw;
    width: calc(80vw - 10px);
    border-top: 5px solid #51ae9aff ;
}

.about .about-section h3 {
    padding: 0;
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    color: #037b9c;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
     box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    width: 35vw;
    max-width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.container {
    width: 20vw;
    padding: 0 16px;
}

.contacts {
    padding-left: 10vw;
    padding-bottom: 100px;
}

.row {
    justify-content: space-evenly;
    display: flex;
    width: 80vw;
}

.container::after, .row::after {
    content: \"\";
    clear: both;
    display: table;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}