.NavBar {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: top;
    background-color: rgb(78, 78, 78);
    color: rgb(92, 198, 147);
    padding-left: 100px;
}

h1 {
    margin-top: 0;
    padding-right: 0.5em;
    padding-left: 10px;
}

.NavBar .nav-link {
    display: inline-block;
    padding-top: 0.65em;
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 0.5em;
    color: rgba(165, 165, 165, 0.712);
    font-weight: bold;
    text-decoration: none;
}
.NavBar .nav-link:hover{
    color: white;
    border-bottom: 2px solid;
    font-weight: bold;
    text-decoration: none;
}

.NavBar .nav-link-active {
    padding-left: 2em;
    padding-right: 2em;
    color: white;

}