.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(24, 196, 167);
    color: rgb(0, 0, 0);
}

.Title .nav-link {
    display: inline-block;
    padding: 0.5em 1em;
    color: rgba(255, 255, 255, 0.835);
    font-weight: bold;
    text-decoration: none;
}

.Title .nav-link-active {
    color: #fff;
    border-bottom: 2px solid;
}